---
export { getLocalePaths as getStaticPaths } from "@lightnet/library/i18n";

import {
  Gallery,
  Hero,
  ImageSection,
  Page,
  Section,
} from "@lightnet/library/components";
import { useTranslate } from "@lightnet/library/i18n";
import { getCollection } from "astro:content";

import eventImage from "../../assets/event.webp";
import heroImage from "../../assets/hero.webp";

const latestBooks = await getCollection(
  "media",
  (media) => media.data.type === "book",
);
const tutorials = await getCollection(
  "media",
  (media) => media.data.type === "video",
);

const t = useTranslate(Astro.currentLocale);
---

<Page>
  <Hero
    image={heroImage}
    title={t("ministry.name")}
    subtitle={t("ministry.slogan")}
    titleSize="xl"
    subtitleSize="xl"
  />
  <Section title={t("home.our-latest-books")}>
    <Gallery items={latestBooks} layout="books" />
  </Section>
  <ImageSection
    image={eventImage}
    title={t("home.bbq.title")}
    text={t("home.bbq.text")}
    link={{
      href: "mailto:some-email-address-from-the-ministry",
      label: t("home.bbq.sign-up-now"),
    }}
  />
  <Section title={t("home.learn-skateboarding")}>
    <Gallery items={tutorials} layout="videos" />
  </Section>
</Page>
